body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    margin: 0;
    padding: 0;
    width: 1300px;
    text-align: center
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0px;
    height: 69px;
    display: inline-flex;
    border-bottom: 1px solid seashell;
    background-color: black;
    opacity: 0.9;
    align-items: center;
    z-index: 2;
}

header > img {
    height: 50px;
    margin-left: 10px;
}

nav {
    width: 1300px;
    text-align: right;
    margin-right: 10px;
}

a {
    color: seashell;
}

main {
    display: flex;
    flex-direction: column;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    align-items: center;

}

/* Mission section */
#mission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-top: 70px;
    width: 1200px;
    height: 700px;
    background: url('./images/img-mission-background.webp') top left/cover no-repeat;
}

#mission_text{
    background-color: black;
    opacity: 0.9;
}

/* Tea section */
#tea {
    width: 1000px;
    opacity: 0.9;

}

figure {
    margin: 10px;
    
}
figure > img {
    width: 300px;
    height: 200px;
}
.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

#myrtle {
    margin-left: 170px;
}

 #bedford {
     margin-right: 110px;
 }

figcaption {
    margin-top: 10px;
    font-weight: bold;   
}

/* Location section */

/* Footer */
#copyright {
    text-align: left;
    margin-left: 20px;
}